<div class="row">
  <div class="col-xs-10 col-xs-offset-1">
    <% flash.each do |name, msg| %>
      <div class='alert alert-<%="#{name}" %>'> <!-- flash[:success] name = success-->
        <a href="#" class="close" data-dismiss="alert">×</a> <!-- The icon used to close the alert tag -->
        <%= content_tag :div, msg, :id => "flash_#{name}" if msg.is_a?(String) %> <!-- change it into html div -->
        <!-- <div id="flash_success">Article was successfully created</div> -->
      </div>
    <% end %>
  </div>
</div>